@charset 'utf-8';
@import 'content.css';
@import 'header.css';
@import 'pagination.css';
@import 'form.css';
body {
  height: 100%;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
}
h2 {
  text-shadow: 3px 3px 3px #bbb;
  font-size: 1.2em;
  margin: 0;
}
div#wrapper {
  width: 900px;
  margin: 0 auto;
}
div#main .infobar {
  font-size: 0.8em;
}
div#main .content-header,
div.tag {
  display: inline;
}
div.selected {
  background-color: #ff0;
}
div.content div#edit-tags,
#autocomplete-wrapper {
  width: 200px;
  margin-left: 120px;
  background-color: #ccc;
}
#ac-tag-list,
ul#tag-list,
ul#countrytag-list {
  margin: 0px 0px 0px 120px;
  padding: 0px;
  list-style: none;
}
ul#tag-list li,
ul#countrytag-list li {
  display: inline;
  background-color: #add8e6;
  margin-right: 4px;
}
#pagedown {
  width: 400px;
  height: 300px;
  overflow-y: auto;
  float: left;
  font-size: 0.8em;
  margin-left: 40px;
}
