#pagination-wrapper nav {
  clear: left;
}
#pagination-wrapper nav ul li.pgn-nav-elem {
  list-style: none;
  display: inline;
  font-size: 0.8em;
}
#pagination-wrapper nav ul li.pgn-nav-elem:not(.greyed-out) {
  cursor: pointer;
}
#pagination-wrapper nav ul li.pgn-nav-elem:hover:not(.greyed-out) {
  color: #f00;
  text-decoration: underline;
}
#pagination-wrapper nav ul li.greyed-out {
  color: #f00;
}
#pagination-wrapper div#item-wrapper div.page {
  display: none;
}
