@CHARSET "UTF-8";

.popup {
	position: fixed;
	left: 100px;
	top: 100px;
	z-index: 99;
	background-color: white;
	box-shadow: 10px 10px 10px #888;
	padding: 8px;
}
	
.popup #titlebar {
	background-color: blue;
	color: white;
	padding: 4px;
	margin-bottom: 8px;
}

.popup #close {
	float: right;
}