@CHARSET "UTF-8";

#systemmessage {
	display: none;
	margin: 0 auto;
    width: 300px;
    background-color: yellow;
    text-align: center;
    padding: 6px;
    border-radius: 10px;
    z-index: 98;
}

#systemmessage.success {
	background-color: green;
}

#systemmessage.error {
	background-color: red;
}