.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			ul.nav
				li.active
					a(href="/") Home
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") Content
						b.caret
					ul.dropdown-menu
						li
							a(href!="/content/note") All Notes
						li
							a(href!="/content/note/new") New Note
						li
							a(href!="/content/carpool") All Carpools
						li
							a(href!="/content/carpool/new") New Carpool
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") People
						b.caret
					ul.dropdown-menu
						li
							a(href!="/people") All People
						li
							a(href!="/person/new") New Person				
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") Groups
						b.caret
					ul.dropdown-menu
						li
							a(href!="/groups") All Groups
						li
							a(href!="/group/new") New Group

ul.breadcrumb
	.container
