button.close(data-dismiss="alert", type="button") &times;
h4.alert-heading Are you sure you want to delete a deliverable?
p &nbsp;
div(style="text-align: center")
	a.btn.btn-warning.ok Remove it!
	span &nbsp;&nbsp;&nbsp;
	a.btn.cancel Cancel