.row	
	form
		.span8
			label(for="bucket") Bucket
			select#bucket
				| <% for (i in lists) { %>
				option <%= lists[i] %>
				| <% } %>
			label(for="key") Key
			input#key
			label(for="value") Value
			textarea.span8#value(style="height:200px")
			label
			button.btn.btn-primary#submit(type="submit") Save

.row
	| <% for (i in lists) { %>
	ul.nav.nav-list.span3(id!="<%= lists[i] %>")
	| <% } %>