//- div.input
//- 	input.ac(type="text")
//- 	span.select-from-list(style="display: none") Or select from list
//- 	.results

//- div.result
//- 	span(data-key!="<%= key %>") <%= value.value %>
//- 	div.remove(style="float: right; display: none") x

input.ac(type="text", data-key!="<%= key %>", value!="<%= value.value %>", data-cid!="<%= cid %>")
span.list =
ul.dropdown-menu.options(role="menu", aria-labelledby="dropdownMenu")