input.ac(type="text")
.list-results
	|<% collection.each(function (model) { %>
	div.ac-option(id!="ac-option-<%= model.get('id') %>", data-id!="<%= model.get('id') %>") <%= model.get('value') %>
	|<% }); %> 