div.input
	input.select(	type="text", 
					data-key!="<%= key %>",
					value!="<%= value %>"	)
	.results
		|<% _(optionlist).each(function(option) { %>
		div.ac-option(data-value!="<%= option %>") <%= option %>
		|<% }); %>