.input-append.control-group
	input.select(class!="span<%= span %>", type="text", value!="<%= value %>")
	button.btn.btn-narrow
		span.caret
ul.dropdown-menu(role="menu")
	|<% _.each(selectoptions, function(option) { %>
	li
		a(tabindex="-1") <%= option %>
	|<% }); %>


