|<%
|var heading = false;
|_(columns).each(function(column) {
|	if (column.heading) headings = true;
|}); %>

.table
	
	|<% if (headings) { %>
	.row.headings
		|<%	_(columns).each(function(column) { %>
		div.heading(class!="span<%= column.span %>") <%= column.heading %>
		|<%	}); %>
	|<% } %>


|<% if (addrows) { %>
div.add-row ...add extra row
|<% } %>
