	<h2>Edit event</h2>
	<form id="EditEvent">
		<label for="title">Title</label><input class="bind" type="text" id="title" name="title" value="<%= title %>" /><br />
		<label for="description">Description</label><textarea class="bind" id="description" name="description"><%= description %></textarea><br />
		<label for="address">Address</label><input class="bind" type="text" id="address" name="address" value="<%= address %>" /><br />
		<label for="city">City</label><input class="bind" type="text" id="city" name="city" value="<%= city %>" /><br />
		<label for="start">Start</label><input class="bind" type="text" id="start" name="start" value="<%= start %>" /><br />
		<label for="end">End</label><input class="bind" type="text" id="end" name="end" value="<%= end %>" /><br />
		<div class="tags-wrapper"></div>
		<div id="sSubmit">Save</div>
	</form>