.content.edit.document, .content.edit.link
	#part1, #part2, #part3
		display none

	.possible_link_title
		width 600px

	.possible_link_title:hover
		background-color #eee

.content.listed
	clear left
	margin-top 20px
	overflow-y auto

	.content-icon 
		float left
		width 24px

	.content-main 
		float left
		width 868px
		padding-left 8px

		.content-body
			color grey
			font-size 0.8em