form.survey
	label

	input.regular, textarea.regular
		border none
		width 720px
		margin-left 6px

	input.regular
		height 48px

	textarea.regular
		height 72px /* dynamically resized */
		overflow hidden
		margin-left 6px
		resize none

	select
		border none
		background-color white
		color black

	label.error
		color red

	input.error, textarea.error, select.error
		background pink

	br
		clear both	

	div#pages
		width 1000000px
		margin-left 900px

	div.page
		opacity 1
		float left
		width 900px

	h4
		margin 0
		background-color lightblue
		padding 2px 0px 2px 6px
		width 720px