form.survey
	label

	input.regular, textarea.regular
		border none
		width 720px
		margin-left 6px

	input.regular
		height 48px

	textarea.regular
		height 24px /* dynamically resized */
		overflow hidden
		margin 6px 0px 24px 4px
		resize none

	select
		border none
		background-color white
		color black

	label.error
		color red

	input.error, textarea.error, select.error
		background pink

	br
		clear both

	h4
		margin 0
		background-color lightblue
		padding 3px 0px 1px 6px
		width 720px
		letter-spacing 2px
		font-weight normal 
