form.simple
	label
		float left
		width 120px

	input, textarea 
		float left
		margin-bottom 5px

	input
		width 480px

	input.small 
		width 40px
		margin-right 6px	

	textarea 
		width 480px
		height 72px

	br
		clear left

	label.error
		color red

	input.error, textarea.error, select.error
		background pink

	div#pages
		width 1000000px
		margin-left 900px

	div.page
		opacity 1
		float left
		width 900px
