@charset 'utf-8'
@import 'content.css'
@import 'header.css'
@import 'pagination.css'
@import 'pagination.pages.css'
@import 'form.css'
@import 'form.survey.css'
@import 'selector.css'
@import 'tag.css'
@import 'comment.css'
@import 'popup.css'
@import 'input/table.css'
@import 'input/autocomplete.css'
@import 'input/list.css'
@import 'input/select.css'

body 
	height 100%
	font-family 'Raleway', Helvetica, sans-serif
	font-size 1em
	margin 0


h2 
	text-shadow 3px 3px 3px #BBB
	font-size 1.2em
	margin 0


div#wrapper 
	width 900px
	margin 0 auto
	overflow hidden
	opacity 1


div#main .infobar 
	font-size 0.8em


div#main .content-header 
	
div#selectors
	position: fixed
	right: 0px
	top: 40px

.highlight 
	background-color lightblue

#autocomplete-wrapper 
	width 200px
	margin-left 120px
	background-color #CCC

#pagedown 
	width 400px
	height 300px
	overflow-y auto
	float left
	font-size 0.8em
	margin-left 40px
