nav.pages
	clear left
	
	ul.pagination
		margin 0px
		padding 0px

		li.pagination
			list-style none
			display inline
			font-size 0.8em
			margin-right 12px

		li.pagination:not(.greyed-out)
			cursor pointer

		li.pagination:hover:not(.greyed-out)
			color red
			text-decoration underline

		li.greyed-out
			color red

#pages
	.page
		display none
		width 900px