.tags-wrapper

.tags-wrapper .tag-item
	display inline

.tags-wrapper ul.tags
	padding-left 0

.tags-wrapper ul.tags li:after
	content ' | '
	
.tags-wrapper ul.tags li:last-child:after 
	content ''

.tags-wrapper ul.tags li:first-child:before
	content 'tagged with: '

//ul#tag-list, ul#countrytag-list 
//	margin 0px 0px 0px 120px
//	padding 0px
//	list-style none
		


//ul#tag-list li, ul#countrytag-list li 
//	display inline
//	background-color lightblue
//	margin-right 4px