.listed-icon
	img(src!="/img/<%= type %>.png")
.listed-main
	.listed-title
		h4
			a(href!="/<%= type %>/<%= id %>") <%= title %> 
			small
				a(href!="/<%= type %>/<%= id %>/edit") edit
	.listed-body