doctype
html(lang="en")
head
	meta(charset="utf-8")
	title Project-X
	link(rel="stylesheet", type="text/css", href="/lib/bootstrap/css/bootstrap.css")
	link(rel="stylesheet", type="text/css", href="/css/style.css")
	script(data-main="/js/main", src="/lib/require/require.js")
body
	div#webdev(style="position: fixed; left: 0px; top: 100px")
	div.container
		div#main.row
