div.row
	div.span12
		h2 Edit format: <%= title %>

	//- h2 Edit format: <%= title.at(0).get('title') %>
	

	//- form.survey
div.row
	div.span8
		nav.pages
	div.span4
		button#sSubmit.btn.btn-primary Save changes

div.row
	.tab-content.span12

		.tab-pane#tab1(data-title="Definition")

			section.title

			section.description

			section.goal

			section.objectives

			section.topics

			section.effects

			section.unique_selling_points

			section.competition
		
		.tab-pane#tab2(data-title="Target group")

			.row
				.span5.well
					section.age
				.span5.well
					section.sex

			.row
				.span5
					.well
						section.living
					.well
						section.education
				.span5.well
					section.profession

			.row
				.span5.well
					section.countries
				.span5.well
					section.languages


		.tab-pane#tab3(data-title="Approach")

			section.deliverables

			section.media

			section.tone_of_voice

			section.producers

			section.partners

			section.participation

			section.duration

		.tab-pane#tab4(data-title="Results")

			section.success_factors

			section.targets

			section.monitoring

		.tab-pane#tab5(data-title="Peoples and resources")

			section.capacity

			section.costs

			section.financing