h3 Definition

	h4 Description
	p <%= description %>

	h4 Goal
	p <%= goal %>

	h4 Tone of voice
	p <%= tone_of_voice %>

	h4 Competition
	p <%= competition %>

	h4 Unique selling points
	p <%= unique_selling_points %>

h3 Approach

	h4 Participation
	p <%= participation %>

h3 Results

	h4 Success factors
	p <%= success_factors %>

	h4 Monitoring
	p <%= monitoring %>

h3 People and resources

	h4 Financing
	p <%= financing %>