#list.span6

#selectors.accordion.span4
	.accordion-group
		.accordion-heading
			a.accordion-toggle(data-toggle="collapse", data-parent="#selectors", href="#location") Location
		#location.accordion-body.collapse
			.accordion-inner Bladebladiebal
	.accordion-group
		#selectedlocations.accordion-heading Sierra Leone
	.accordion-group
		.accordion-heading
			a.accordion-toggle(data-toggle="collapse", data-parent="#selectors", href="#departement") Departement
		#departement.accordion-body.collapse
			.accordion-inner Bildebilderbol