p <%= body %>

h3 Who has access?

lu
	<% access.each(function(item) { %>
	li 
		a(href!="/<%= item.get('type') %>/<%= item.id %>") <%= item.get('title') %> 
		small (<%= item.get('type') %>)
	<% }); %>
