h2 Edit link	

	#part1(style="display:block")
		label(for="address") Address
		input.address#address(type="text", name="address", value!="<%= link.address %>")

	#part2(style="display:block")
		form
			label(for="address") Address
			i <%= link.address %>
			br
			|<% if (h1.length > 0) { %>
			label H1
			br
			|<%	h1.forEach(function(title, i) { %>
			input.possible_title_checkbox(name="title", id!="h1_<%= i %>", value!="<%= link.title %>", type="radio")
			label.possible_link_title(for!="h1_<%= i %>") <%= link.title %>
			br
			|<%	});
			|} %>
			
			|<%	console.log('h2'); %>
			|<%	console.log(h2); %>
			|<% if (h2.length > 0) { %>
			label H2
			br
			|<%	console.log(h2); %>
			|<%	h2.forEach(function(title, i) { %>
			input.possible_title_checkbox(name="title", id!="h2_<%= i %>", value!="<%= title %>", type="radio")
			label.possible_link_title(for!="h2_<%= i %>") <%= title %>
			br
			|<%	});
			|} %>

			label.link_title(for="title") Or write your own:
			br

			label.link_title(for="title") Title:
			br

			input#title(type="text", name="title", value="")
			br
			#submit_title Save

	#part3
		form(onsubmit="return false", autocomplete="off")
			label(for="address") Address 
			i <%= link.address %>
			br
			label(for="title") Title
			i <%= link.title %>
			br
			label(for="created") Created
			i <%= link.created %>
			br
		.tags-wrapper
		#sSubmit Save