.content-title
	h2 <%= title %>
nav.content-menu
	a.editevent(href!="/content/<%= content_type.value %>/<%= id %>/edit") edit 
	span.delevent delete
.triplist
.content-body
.tags-wrapper
.comments-wrapper
