ul.nav.nav-tabs
	li.active
		a(data-target="#info", data-toggle="tab") Info
	li
		a(data-target="#users", data-toggle="tab") Users

.tab-content
	.tab-pane.active#info
		.row
			.span2 ID
			.span2 <%= id %>
		.row
			.span2 Type
			.span2 <%= type %>
		.row
			.span2 Creation
			.span2 <%= created %>
		.row
			.span2 Last update
			.span2 <%= updated %>
	.tab-pane#users
		.row
			.span2 Owner
			.span2 <%= owner %>
		.row
			.span2 Editors
			.span2 <%= editors %>