h2 Edit Document
div#part1
	form(enctype="multipart/form-data")
		input(type="hidden", name="MAX_FILE_SIZE", value="30000000")
		label(for="pdf-file") PDF
		input.upload#pdf-file(name="pdf-file", type="file")

div#part2
	label(for="progressbar") PDF
	progress#progressbar(max="100", value="0")

div#part3
	form
		label(for="title) Uploaded PDF
		i <%= filename %>
		br
		label(for="title) Filesize
		i <%= filesize %> bytes
		br
		label(for="title) Title
		input#title.bind(type="text", name="title", value!="<%= title %>")
		br
		label(for="author) Author
		input#author.bind(type="text", name="author", value!="<%= author %>")
		br
		label(for="pages) Pages
		input.bind#pages(type="text", name="pages", value!="<%= pages %>")
		br
		div.tags-wrapper
		div#sSubmit Save