h2 Edit <%= bucket %>

form
	label(for="title") Title
	input#title.bind(type="text", name="title", value!="<%= title %>") <%= title %>
	br
	label(for="email") E-mail
	input#email.bind(type="text", name="email", value!="<%= email %>") <%= email %>
	br
	label(for="password") Password
	input#password.bind(type="password", name="password")
	button.btn.btn-primary.save Save user 