form
	label(for='username') Username
	input(type='text', name='username', id='username')
	br
	label(for='password') Password
	input(type='password', name='password', id='password')
	br
	div#submit Login