.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			ul.nav
				li.active
					a(href="/") Home
				li
					a(href="/content/format") Formats
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") Notes
						b.caret
					ul.dropdown-menu
						li
							a(href!="/content/note") My Notes
						li
							a(href!="/content/note") All Notes
						li
							a(href!="content/note/new") New
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") People
						b.caret
					ul.dropdown-menu
						li
							a(href!="/content/person") All People
						li
							a(href!="/person/new") New Person				
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") Groups
						b.caret
					ul.dropdown-menu
						li
							a(href!="/content/group") All Groups
						li
							a(href!="/group/new") New Group

ul.breadcrumb
	.container
