ul
	li 
		a(href='/') home
	li
		a(href='/content/link') links
		a(href='/link/add') +
	li
		a(href='/content/event') events
		a(href='/event/add') +
	li
		a(href='/content/video') videos
		a(href='/video/add') +
	li
		a(href='/content/document') documents
		a(href='/document/add') +
	li
		a(href='/content/note') notes
		a(href='/note/add') +
	li
		a(href="/logout") logout