ul
	li 
		a(href='/') home
	li
		a(href='/links') links
		a(href='/link/add') +
	li
		a(href='/events') events
		a(href='/event/add') +
	li
		a(href='/videos') videos
		a(href='/video/add') +
	li
		a(href='/documents') documents
		a(href='/document/add') +
	li
		a(href='/notes') notes
		a(href='/note/add') +
	li
		a#logout logout