div.navbar.navbar-inverse.navbar-fixed-top
	div.navbar-inner
		ul.nav
			li.active
				a(href="/") Home
			li
				a(href="/content/format") Formats
			li
				a(href="/notes") Notes
			li
				a(href="/users") Users
		ul.nav.pull-right
			li.dropdown
				a.dropdown-toggle(href="#", data-toggle="dropdown") <%= username %>
					b.caret
				ul.dropdown-menu
					li
						a(href!="/user/<%= username %>") profile
					li
						a(href="/logout") logout