ul
	li.link
		input(type='checkbox', name='link', id='link') 
		label(for='link') links
	li.event
		input(type='checkbox', name='event', id='event') 
		label(for='event') events	
	li.document
		input(type='checkbox', name='document', id='document') 
		label(for='document') documents	
	li.note
		input(type='checkbox', name='note', id='note') 
		label(for='note') notes
	li.video
		input(type='checkbox', name='video', id='video') 
		label(for='video') videos