h3 <%= title %> 
ul(class!="<%= title %>")
	| <% labels.each(function (label) {
	|	var name = label.get('name');
	|	var active = label.get('active');
	|	var inactive = label.get('inactive'); %>
	li.link
		| <% if (active == 0 && title != 'content') { %>
		input(type='checkbox', name!='<%= name %>', id!="<%= name %>", disabled)
		| <% } else { %>
		input(type='checkbox', name!='<%= name %>', id!="<%= name %>") 
		| <% } %>
		label(for!="<%= name %>") <%= name %> 
			span.count (<%= active %> of <%= inactive %>)
	| <% }) %>
	