label(for="users") Users
input#users.ac(type="text", name="users")
br
#selected-users
br

label(for="departements") Departements
input#departements.ac(type="text", name="departements")
br
#selected-departements
br

label(for="projects") Projects
input#projects.ac(type="text", name="projects")
br
#selected-projects
br