h2 Edit event
form#EditEvent
label(for="title") Title
input.bind#title(type="text", name="title", value!="<%= title %>")
br
label(for="description") Description
textarea.bind#description(name="description") <%= description %>
br
label(for="address") Address
input.bind#address(type="text", name="address", value!="<%= address %>")
br
label(for="city") City
input.bind#city(type="text", name="city", value!="<%= city %>")
br
label(for="start") Start
input.bind#start("type="text", name="start", value!="<%= start %>")
br
label(for="end") End
input.bind#end(type="text", name="end", value!="<%= end %>")
.tags-wrapper
#sSubmit Save
